<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/Head') %> 
<body>
	<!-- Header -->
	<%- include('./partials/Header') %> 
	<!-- Header -->
	
	<!-- /footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>