<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/Head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/Header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			<div  class="Registercolor">
				<form action="" method="get">
					
					<label for="usuario">Ingrese su usuario</label>
					<input type="email" name="usuario" id="usuario">

					<label for="contrase単a">Ingrese su contrase単a</label>
					<input type="password" name="contrase単a" id="contrase単a">

					<label for="recordarme">Recordar mi usuario</label>
					<input type="checkbox" name="recordarme" id="recordarme">

				</form>
			</div>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- footer -->
</body>

</html>