<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./Partials/Head') %> 

<body>
	<!-- Header -->
	<%- include('./Partials/Header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			<div  class="form-register">
				<form action="" method="get">
				<ul>
					<li>
					<label for="usuario">Ingrese su usuario</label>
					<input class="form-input" type="email" name="usuario" id="usuario">
					</li>

					<li>
						<label for="contraseña">Ingrese su contraseña</label>
						<input class="form-input" type="password" name="contraseña" id="contraseña">
					</li>

					<li>
						<label for="recordarme">Recordar mi usuario</label>
						<input class="form-input" type="checkbox" name="recordarme" id="recordarme">
					</li>
					<li>
						<label for="enviar">Iniciar sesión</label>
						<input class="form-input" type="submit" value="Enviar">
					</li>
				</ul>	
					
				</form>
			</div>
			</h2>


	<!-- footer -->
	<%- include('./Partials/Footer') %>
	<!-- footer -->
</body>

</html>