<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/Head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/Header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">  <i>///////////////////////////////////////// <br> Acá va el formulario de login. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			//////////////// 

				<form action="" method="get">
					
					<label for="usuario">Ingrese su usuario</label>
					<input type="email" name="usuario" id="usuario">

					<label for="contraseña">Ingrese su contraseña</label>
					<input type="password" name="contraseña" id="contraseña">

					<label for="recordarme">Recordar mi usuario</label>
					<input type="checkbox" name="recordarme" id="recordarme">

				</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- footer -->
</body>

</html>