<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./Partials/Head') %> 

<body>
	<!-- Header -->
	<%- include('./Partials/headerLogueado') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<section class="form-register">
				<form  action="" method="post" name="form-register" enctype="multipart/form-data">
					<input class="form-input" type="text" name="modelo" placeholder="Nombre del producto">
					<input class="form-input" type="text" name="descripcion" placeholder="Descripcion">
					<input class="form-input" type="text" name="product" placeholder="Marca del Producto">
					<input class="form-input" type="file" name="imagen" placeholder="Ingrese imagen de producto"
						value="Ingrese Imagen">
					<button type="submit" class="btn btn primary"> Agregar producto </button>
				</form>
			</section>


	<!-- footer -->
	<%- include('./Partials/Footer') %> 
	<!-- /footer -->
	
</body>

</html>