<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./Partials/Head') %> 

<body>
	<!-- Header -->
	<%- include('./Partials/Header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<!--
			<div class="form-register">
				<form action="" method="get">
						
					<label for="email">Ingrese su email</label>
					<input class="form-input " type="email" name="usuario" id="usuario">

					<label for="usuario">Ingrese su usuario</label>
					<input class="form-input " type="text" name="usuario" id="usuario">

					<label for="contrase単a">Ingrese su contrase単a</label>
					<input class="form-input " type="password" name="contrase単a" id="contrase単a">

					<label for="fechaDeNacimiento">Ingrese su fecha de naciemiento</label>
					<input class="form-input " type="date" name="fechaDeNacimiento" id="fechaDeNacimiento">

					<label for="nroDeDocumento">Ingrese su numero de documento</label>
					<input class="form-input " type="number" name="nroDeDocumento" id="nroDeDocumento">

					<label for="fotoDePerfil">Ingrese su foto de foto de perfil</label>
					<input class="form-input " type="file" name="fotoDePerfil" id="fotoDePerfil">

					<label for="enviar">Enviar formulario</label>
					<input class="form-input " type="submit" value="Enviar">


				</form>
			</div>
			-->

					<div class="form-register">
					<form action="/profile/register" method="POST" enctype="multipart/form-data">
					<input class="form-input" type="text" id="login" name="email" placeholder="mail">
					<hr>
					<input class="form-input" type="text" id="name" name="nombre" placeholder="name">
					<hr>
					<input  class="form-input" type="text" id="apellido" name="apellido" placeholder="apellido">
					<hr>
					<input class="form-input" type="password" id="password" name="contrasena" placeholder="password">
					<hr>
					<label for="profilePic"> Choose a profile pic:</label>
					<input type="file" name="profilePic" placeholder= "Profile pic" value="">
					<hr>
					<input type="submit" class="form-input" value="Register">
				</form>
				</div>


	<!-- footer -->
	<%- include('./Partials/Footer') %> 
	<!-- /footer -->

</body>

</html>