<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./Partials/Head') %> 

<body>
	<!-- Header -->
	<%- include('./Partials/Header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			
			<div><% if (locals.errors) { %>
				<p style="color : rgb(0, 0, 0)"> <%=locals.errors.message  %> </p>
			<% } %>
			</div>

			<div class="form-register">
				<form action="/profile/register" method="POST" enctype="multipart/form-data">
					<input class="form-input" type="text" id="login" name="email" placeholder="mail">
					<hr>
					<input class="form-input" type="text" id="name" name="nombre" placeholder="name">
					<hr>
					<input  class="form-input" type="text" id="apellido" name="apellido" placeholder="apellido">
					<hr>
					<input class="form-input" type="password" id="password" name="contrasena" placeholder="password">
					<hr>
					<label for="profilePic"> Choose a profile pic:</label>
					<input type="file" name="imgPerfil" placeholder= "Profile pic" value="">
					<hr>
					<input type="submit" class="form-input" value="Register">
				</form>
			</div>


	<!-- footer -->
	<%- include('./Partials/Footer') %> 
	<!-- /footer -->

</body>

</html>